### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [123]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [124]:
purchase_data['SN'].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [125]:
Total=pd.DataFrame({"Number of Unique Items ":purchase_data['Item ID'].nunique(),
                   "Average Price ":purchase_data['Price'].mean(),
                   "Number of Purchases ":purchase_data['Purchase ID'].count(),
                   "Total Revenue":purchase_data['Price'].sum()}, index=[0])
Total["Average Price "]=Total["Average Price "].map("${:.2f}".format)
Total["Total Revenue"]=Total["Total Revenue"].map("${:.2f}".format)
print(Total)

   Number of Unique Items  Average Price   Number of Purchases  Total Revenue
0                      183          $3.05                   780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [126]:
A=purchase_data.drop_duplicates(['SN']).groupby(['Gender'])

B=A['Gender'].count()
GenDemo=pd.DataFrame({"Total Count":A['Gender'].count(),"Percentage of Players": A['Gender'].count()/sum(B)*100})

GenDemo["Percentage of Players"]=GenDemo["Percentage of Players"].map("{:.2f}".format)
print(GenDemo)

                       Total Count Percentage of Players
Gender
Female                          81                 14.06
Male                           484                 84.03
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [127]:
GenPur=purchase_data.groupby(['Gender'])
GenPurAnal=pd.DataFrame({'Purchase Count':GenPur['Price'].count(),
                        'Average Purchase Price': GenPur['Price'].sum()/GenPur['Price'].count(),
                        'Total Purchase Value': GenPur['Price'].count(),
                        'Avg Total Purchase per Person':GenPur['Price'].sum()/A['Gender'].count()})
GenPurAnal['Average Purchase Price'] = GenPurAnal['Average Purchase Price'].map("${:,.2f}".format)
GenPurAnal['Total Purchase Value'] = GenPurAnal['Total Purchase Value'].map("${:,.2f}".format)
GenPurAnal['Avg Total Purchase per Person'] = GenPurAnal['Avg Total Purchase per Person'].map("{:,.2f}".format)

GenPurAnal.head()

#$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$113.00,4.47
Male,652,$3.02,$652.00,4.07
Other / Non-Disclosed,15,$3.35,$15.00,4.56

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [131]:
groups = ['<10', '10-14', '15-19','20-24', '25-29','30-34', '35-39','40+']
bins = np.arange(10,45,5)
bins=np.insert(bins,0,0)
print('bins=',bins)

groups = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '>40']
bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 80]

bins= [ 0 10 15 20 25 30 35 40]

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
<10,23,3.353478,77.13,4.537059
10-13,26,2.918077,75.87,3.793500
14-17,89,3.006742,267.60,3.769014
18-21,210,3.082190,647.26,4.315067
22-25,263,3.045247,800.90,4.237566
26-29,42,2.645238,111.10,3.267647
30-33,64,2.997969,191.87,4.263778
34-37,35,3.209429,112.33,4.160370
38-40,21,3.532381,74.18,4.636250
>40,7,3.075714,21.53,3.075714

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [135]:
AgeGrp=purchase_data.groupby(pd.cut(purchase_data["Age"], bins, labels=groups))
PurAnalAge = pd.DataFrame({"Purchase Count":AgeGrp["Price"].count(), 
                            "Average Purchase Price":AgeGrp["Price"].mean(),
                            "Total Purchase Value":AgeGrp["Price"].sum(),
                            "Normalized Totals":AgeGrp["Price"].sum()/AgeGrp["SN"].nunique()})
PurAnalAge['Average Purchase Price'] = PurAnalAge['Average Purchase Price'].map("${:,.2f}".format)
PurAnalAge['Total Purchase Value'] = PurAnalAge['Total Purchase Value'].map("${:,.2f}".format)
PurAnalAge['Normalized Totals'] = PurAnalAge['Normalized Totals'].map("{:,.2f}".format)
PurAnalAge

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
<10,23,$3.35,$77.13,4.54
10-13,26,$2.92,$75.87,3.79
14-17,89,$3.01,$267.60,3.77
18-21,210,$3.08,$647.26,4.32
22-25,263,$3.05,$800.90,4.24
26-29,42,$2.65,$111.10,3.27
30-33,64,$3.00,$191.87,4.26
34-37,35,$3.21,$112.33,4.16
38-40,21,$3.53,$74.18,4.64
>40,7,$3.08,$21.53,3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame